@model MVC.Models.Auth.LoginViewModel

<div class="container">
    <h2>Login</h2>
    
    <form asp-action="Login" method="post" class="form-horizontal">
        <div class="form-group" style="margin-top: 10px;">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control"/>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input"/>
            <label asp-for="RememberMe" data-toggle="popover" data-trigger="hover" data-content="If you check this box, your login information will be remembered, and you will be automatically logged in the next time you visit this website.">Remember Me</label>
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </form>
</div>
