@{
    var token = ViewBag.Token as string;
    var username = ViewBag.Username as string;
}

<h2>Successfully logged in.</h2>

<p>Welcome, @username!</p>
<button class="btn btn-primary" onclick="copyToClipboard('@token')">Copy Token for WebApi</button>