@model MVC.Models.Auth.RegisterViewModel

<div class="container">
    <h2>Register</h2>
    
    <form asp-action="Register" method="post">
        <div class="form-group" style="margin-top: 10px;">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Register</button>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </form>
</div>
